<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <h1>Edit your post</h1>
</div>
<div class="modal-body">
    <!--<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>-->
    <div name="postForm" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="title"><strong>Title</strong></label>
            <div class="controls">
                <input id="title" name="title" ng-model="post.title" type="text" placeholder="Title" class="form-control" required="" />
            </div>
        </div>
        <br>
        <div class="control-group">
            <label class="control-label" for="body"><strong>Description</strong></label>
            <div class="controls">
                <textarea id="body" name="body" ng-model="post.body"  type="text" placeholder="Description" rows="5" class="form-control" required="" /></textarea>
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button ng-click="updatePost(post);ok()" class="btn btn-success"><i class="icon-white icon-plus"></i> Update & Close</button>
    <button ng-click="cancel()" class="btn btn-warning">Cancel</button>
</div>
</div>
